
.cardBackground{
    background-color: rgb(70, 29, 2);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    width: 350px;
    height: 450px;
    transition: all 200ms ease-in-out;
}

.cardImage{
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
    width: 75%;
    
}

.cardBackground:hover .cardImage{
     border-radius: 10px;
     filter:grayscale(0);
}

.cardBackground:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carTitle{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px #fb0000;
    width: 90%;
    text-align: center;
}

.cardText{
    width: 95%;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}