    .title{
        font-size: 4rem;
        text-shadow: 0px 3px 20px #e99d0fce;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        padding: 5px;
    }


        .wrapCards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 2vh;
        padding: 20px;
        width: 100%;
    }


       @media (width >=590px){
        .title{
        font-size: 4rem;

        }
    }